body{
    background-color: #f887ff;
    text-align: center;
}
.cat{
    font-family: fantasy;
}
.secret{
    opacity:0.5
}
li{
    list-style: none;
}
table, th,td{
border: gray 1px solid;
}
table{
    margin:5px auto;
}
.cabbage{
    color:CHARTREUSE
}
